<div class="modal-backdrop show" (click)="onClose()"></div>
<div class="modal show d-block" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content success-modal">
      <div class="modal-body">
        <h5 class="modal-title-success">RESGATE EFETUADO COM SUCESSO!</h5>
      </div>
      <div class="modal-footer-success">
        <button type="button" class="btn btn-primary btn-new-redeem" (click)="onNewRedeem()">
          NOVO RESGATE
        </button>
      </div>
    </div>
  </div>
</div>
